@charset "utf-8";
@import "~bulma/sass/utilities/_all";
@import "./variables";

@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url("../static/fonts/Raleway-v4020-Bold.eot");
    src: local("Raleway"),
        url("../static/fonts/Raleway-v4020-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../static/fonts/Raleway-v4020-Bold.woff") format("woff"),
        url("../static/fonts/Raleway-v4020-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url("../static/fonts/Raleway-v4020-SemiBold.eot");
    src: local("Raleway"),
        url("../static/fonts/Raleway-v4020-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../static/fonts/Raleway-v4020-SemiBold.woff") format("woff"),
        url("../static/fonts/Raleway-v4020-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url("../static/fonts/Raleway-v4020-Regular.eot");
    src: local("Raleway"),
        url("../static/fonts/Raleway-v4020-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../static/fonts/Raleway-v4020-Regular.woff") format("woff"),
        url("../static/fonts/Raleway-v4020-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

// override ./static/fonts
$family-sans-serif: apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
$family-primary: apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

// override colors
$colors: (
    "primary": (
        $primary,
        $primary-invert
    ),
    "success": (
        $success,
        $success-invert
    ),
    "info": (
        $info,
        $info-invert
    ),
    "warning": (
        $warning,
        $warning-invert
    ),
    "danger": (
        $danger,
        $danger-invert
    )
);
$content-heading-color: $info;
$border: $success-shadow;
$border-hover: $success;
// Card
$card-header-color: $primary;
$card-color: $info;
$card-header-background-color: $success-shadow;
$card-shadow: 0 2px 3px $success-shadow, 0 0 0 1px $success-shadow;
$card-header-shadow: 0 1px 2px $success-shadow;
$card-footer-background-color: $success-shadow;
// Dropdown
$dropdown-item-color: $info;
$dropdown-item-hover-color: #fff;
$dropdown-item-hover-background-color: $primary-shadow;
$dropdown-divider-background-color: $info-shadow;
$label-weight: 600;
$button-color: $primary;
// Navbar
$navbar-item-hover-background-color: $success-shadow;
$navbar-box-shadow-color: $success;
$navbar-item-img-max-height: 5.25rem;
$navbar-item-color: $primary;
$navbar-item-hover-color: $success;
$navbar-item-active-color: $success;
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
// Forms
$label-color: $info;
// Panel
$panel-heading-background-color: $success;
$panel-heading-color: $info;
$panel-block-color: $info;
$panel-block-hover-background-color: $success-shadow;
$panel-tab-active-border-bottom-color: $info;

@import "~bulma/bulma";
