// define app colors
$primary: #52082d;
$primary-invert: findColorInvert($primary);
$primary-shadow: rgba(82, 8, 45, 0.3);
$info: #331507;
$info-invert: findColorInvert($info);
$info-shadow: rgba(51, 21, 7, 0.3);
$success: #eaccb2;
$success-invert: findColorInvert($success);
$success-shadow: rgba(234, 204, 178, 0.3);